* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;


}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    background: #6A84A6;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;




}

p,
h1 {
    color: rgb(232, 228, 228);

}

h1 {
    font-size: 8rem;
    margin-bottom: 3rem;


}

h2 {
    color: #FBFFA5;
    font-size: 3rem;

}

p{
    font-size: 2rem;
   
}

/*Cabeçalho */

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: self-start;

    padding: 2rem 5rem;
}

.menu__lista {
    align-items: center;
    margin-top: 2rem;
}

.menu__item {
    display: flex;
    list-style: none;
    gap: 40px;
    text-transform: uppercase;
    color: green;

}

.menu__item a:hover{
    font-weight: bold;
}

a {
    text-decoration: none;
}

.logo {
    width: 60px;
}

.cabecalho__logo {
    text-align: center;
}

/* Main */

main {
    display: flex;
    justify-content: space-evenly;


}

.img__titulo {
    width: 150px;
    margin-top: 8rem;
}

.principal__Img {
    width: 450px;
    height: 450px;
    object-fit: cover;

    border-radius: 5rem;
    box-shadow: 18px 11px 17px -3px rgba(0, 0, 0, 0.1);

}



/* Sobre nós */

.dogSobre {
    width: 60rem;
  
    border-radius: 20px;
    box-shadow: 18px 11px 17px -3px rgba(0, 0, 0, 0.1);
}

.texto__sobreNos {
    width: 50rem;
    line-height: 3rem;
    text-align: justify;
    margin-top: 5rem;
   
}

.texto__sobreNos p {
    margin-top: 5rem;
}
/* Rodapé */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
   

}

.pFooter {
    color: rgb(0, 24, 0);
    font-size: 1.3rem;
    text-align: center;
    background-color: #1e559e;
    
   

}

